{% load static %}
<link rel="stylesheet" type="text-css" href='{% static 'bootstrap/dist/css/bootstrap.css' %}'/>
<link rel="stylesheet" type="text-css" href='{% static 'bootstrap/dist/css/bootstrap-theme.css' %}'/>

<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'angular/angular.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-route/angular-route.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-animate/angular-animate.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-resource/angular-resource.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-sanitize/angular-sanitize.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-strap/dist/angular-strap.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-strap/dist/angular-strap.tpl.js' %}'></script>
