<div>
    <h1>Event {{event.name}}: Drivers</h1>
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="row">
            <input type="text" class="form-control col-xs-12" ng-model="driverFilter" placeholder="Filter Drivers" />
        </div>
        <div class="list-group row">
            <div ng-repeat="driver in drivers | filter:{$: driverFilter}" class="list-group-item row hover link" ng-click="active = driver">
                {{driver.number}} - {{driver.name}}
                <button class="btn btn-default pull-right hover hover-right" ng-click="edit(driver)"><i class="glyphicon glyphicon-pencil"></i></button>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12" ng-show="active">
        <h2>{{active.name}} <button class="btn btn-default btn-lg" ng-click="edit = driver" ng-hide="edit"><i class="glyphicon glyphicon-pencil"></i></button></h2>
        <div class="form-horizontal">
            <div class="input-group">
                <label for="name" class="control-label">Name</label>
                <h3 ng-hide="edit"></h3>
                <input type="text" name="name" class="form-control" ng-model="edit.name" ng-show="edit" />
            </div>
            <div class="clearfix" ng-show="edit">
                <button class="btn btn-success pull-right" ng-click="save()">Save</button>
                <button class="btn btn-danger pull-right space-sides" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
