<div ng-controller="newEventCtrl">
    <form name="event" class="form-horizontal">
        <div class="input-group">
            <label for="name" class="control-label">Name</label>
            <input class="form-control" type="text" name="name" ng-model="name" />
        </div>
        <div class="input-group">
            <label for="date" class="control-label">Date</label>
            <input class="form-control" bs-datepicker type="text" name="date" ng-model="date" data-date-format="yyyy-MM-dd" data-autoclose="1" />
        </div>
        <div class="input-group">
            <label for="location" class="control-label">Location</label>
            <input class="form-control" type="text" name="location" ng-model="location" />
        </div>
    </form>
    <div class="clearfix">
        <button class="btn btn-success pull-right" ng-click="save()">Save</button>
        <button class="btn btn-danger pull-right space-sides" ng-click="cancel()">Cancel</button>
    </div>
</div>
